body{
  text-align: center;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-item {
  padding: 0 18px;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}
.nav-link {
  font-size: 1.2rem;
}
/* Sections */
.colored-section{
  background-color: #ff4c68;
}
.white-section{
  background-color: #fff;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  text-align: left;
  color: white;
}
.container-fluid {
  padding: 3% 15% 7%;
}
.rotated {
  transform: rotate(30deg);
  width: 50%;
  position: absolute;
  right:30%;

}

.download-button {
  margin: 15% 5% 5% 0;
}
/* Features Section */
.use, .carousel-item{
  padding: 7% 10%;
}
p {
  color: #8f8f8f;
}

#features {
  position: relative;
  z-index: 1;
}
 #features i {
  color: #ef8172;
}
#features i:hover {
  color: #ff4c68;
}
#testimonials h2 {
  padding: 0 10%;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
}
#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

#testimonials, #press {
  background-color: #ef8172;
  padding-bottom: 2%;
}
#pricing {
  padding: 100px;

}
.card-body {
  padding: 1rem 2rem;
}
.pricing-colomn {
  padding: 2% 3%;
}
#cta{
  margin:auto;
  width: 80vw;
  height: 35vh;
}
#cta h3{
  font-family: Montserat;
  font-size: 4rem;
  padding: 2% 25%;
}
#cta button{
  margin: 1px 1%;
}
#footer {
  width: 20%;
  height:25vh;
  margin: 1rem auto;
  padding-top:4rem;
}
#footer img{
  margin:10px 10px;
}

@media (max-width:1028px){
  .rotated {
  transform: rotate(0);
  position: static;
  }
  h1{
    text-align: center;
  }
}